.cbxbusinesshours-icon {
    position: relative;
}
.cbxbusinesshours-icon:before {
    content: ' ';
    background-image: url(businesshours.png);
    background-size: contain;
    width: 26px;
    height: 26px;
    display: block;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}